{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block javascripts  %}
    {{ parent() }}    
{% endblock %}  
{% block header %}
{% endblock %}
{% block css %}
      {{ parent() }}    
    <style>
    .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.imagemDeFundo{
    /*border: 1px solid black;*/
    /*background: black; */
    
}
</style>
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light padrao">
  {# <a class="navbar-brand" href="#">Navbar</a> #}  
  <img src="{{ asset('img/header.png') }}" width="120" height="60">
  <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto text-white" href="#">Painel de Gestão - Indicadores - <span class="small">Instituto Cidade Junior</span></a>        
    </div>
</nav>
<div class="imagemDeFundo">
    <div class="container ">
        <div class="wrapper"> 
                <form method="post" class="form-signin">    
                <h3 class="form-signin-heading">Bem Vindo ao Instituto Cidade Júnior</h3>
                  <hr class=""><br>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}   

                  <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Usuário" required autofocus>


                  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">     
                <button class="btn btn-lg btn-primary btn-block padrao" type="submit">
        Entrar
    </button>
</form>       
        </div>
    </div>
</div>
    
{% endblock %}
{% block footer %}
{% endblock %}