{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	<script>
	$(document).ready(function() {
		$('[data-toggle="datepicker"]').datepicker({autoHide: true, 'format': 'dd/mm/yyyy'});

		$(document).on('click','.period_button', function(){

			formatPeriod = $(this).data('period')

			changeFormatPeriod(formatPeriod)
		});

		// $('.period_button.day').click()

		$(document).on('click','.filterButton', function(){
			currInput = $('.currPeriod');
			currPeriod = $('.currPeriod').datepicker('getDate');

			prevInput = $('.prevPeriod');
			prevPeriod = $('.prevPeriod').datepicker('getDate');
			
			// verifica se a data final é maior que a inicial
			if((prevPeriod - currPeriod) > 0){
				$.alert({
					title: 'Ops!',
					content: 'A data final deve ser maior que a inicial',
				});
			}else{
				// verifia se ambos os campos estão preenchidos
				if((prevInput.val().length > 0 && currInput.val().length > 0)){
					$.alert({
						title: 'Ops!',
						content: 'Ambos os campos estão preenchidos',
					});
				}else{
					$.alert({
						title: 'Ops!',
						content: 'você deve inserir as duas datas',
					});
				}

			}

		});

		function changeFormatPeriod(format){
			console.log('ok')
			datepickerElement = $('[data-toggle="datepicker"]')

			datepickerElement.val(null)
			datepickerElement.datepicker("destroy")
			datepickerElement.datepicker({autoHide: true, 'format': format});
			
		}
	var empresas = {{empresas | raw}}
	console.log(empresas)
		Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'As 5 empresas com mais aprendizes'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Aprendizes'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y} aprendizes</b>'
    },
    series: [{
        name: 'Aprendizes',
        data: empresas
    }]
});
	var qualidade_dados = {{qualidade_dados | raw}}
		Highcharts.chart('container3', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Preenchimento dos Dados'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '%'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y} %</b>'
    },
    series: [{
        name: 'Aprendizes',
        data: qualidade_dados
    }]
});
	
	var municipios = {{municipios | raw}}
		Highcharts.chart('container4', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Aprendizes por Municipios'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'quantidade'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y}</b>'
    },
    series: [{
        name: 'Cidade',
        data: municipios
    }]
});
	var status = {{status | raw}}
		Highcharts.chart('container5', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Aprendizes por Status'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'quantidade'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y}</b>'
    },
    series: [{
        name: 'Cidade',
        data: status
    }]
});


		var age = {{age | raw}}
		console.log(age)
		Highcharts.chart('container6', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Aprendizes por Faixa Etária'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'quantidade'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y}</b>'
    },
    series: [{
        name: 'Cidade',
        data: age
    }]
});

		
	var gaugeOptions = {

			chart: {
				type: 'solidgauge'
			},

			title: 'sd dos Aprendizes por Sexo',

			pane: {
				center: ['50%', '70%'],
				size: '80%',
				startAngle: -90,
				endAngle: 90,
				background: {
					backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
					innerRadius: '60%',
					outerRadius: '100%',
					shape: 'arc'
				}
			},

			tooltip: {
				enabled: false
			},
			// the value axis
			yAxis: {
				stops: [
			[0.1, '#55BF3B'], // green
			[0.5, '#DDDF0D'], // yellow
			[0.9, '#DF5353'] // red
			],
			lineWidth: 0,
			minorTickInterval: null,
			tickAmount: 2,
			title: {
				y: -110
			},
			labels: {
				y: 16
			}
			},

			plotOptions: {
				solidgauge: {
					dataLabels: {
						y: 5,
						borderWidth: 0,
						useHTML: true
					}
				}
			}
			};

		// The speed gauge
		var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
			
			yAxis: {
				min: 0,
				max: 200,
				title: {
					text: 'Quantidade de Aprendizes'
				}
			},

			credits: {
				enabled: false
			},

			series: [{
				name: 'Speeffffffffffffffd',
				data: [{{estudantes.atual}}],
				dataLabels: {
					format: '<div style="text-align:center"><span style="font-size:25px;color:' +
					((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
					'<span style="font-size:12px;color:silver">Estudantes</span></div>'
				},
				tooltip: {
					valueSuffix: ' Alunos'
				}
			}]

		}));

});
</script>
{% endblock %}
{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="">

		<div class="container">
			<div class="row">
				<div class="col-10 text-center">
					<h3>
						Selecione um Período
					</h3>
				</div>
				<div class="col-2 text-right">
					<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
						Filtrar Por:
						<div class="btn-group" role="group" aria-label="First group">
							<button type="button" data-period="dd/mm/yyyy" class="btn btn-success period_button day">Dia</button>
							<button type="button" data-period="mm/yyyy" class="btn btn-success period_button month">Mês</button>
							<button type="button year" data-period="yyyy" class="btn btn-success period_button">Ano</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-3 text-center">
					Início <input class="prevPeriod" data-toggle="datepicker">
				</div>
				<div class="col-3 text-center">
					Fim <input class="currPeriod" data-toggle="datepicker">
				</div>
				<div class="col-2 text-center">
					<button type="button" class="btn btn-success filterButton">Filtrar</button>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col">
					<div class="border" id="container-speed" ></div>
				</div>
				<div class="col">
					<div class="border" id="container2" ></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="border" id="container3" ></div>
				</div>
				<div class="col">
					<div class="border" id="container4" ></div>
				</div>
			</div>
			<br>
			<div class="row">
					<div class="col">
						<div class="border" id="container5" ></div>
					</div>
					<div class="col">
						<div class="border" id="container6" ></div>
					</div>
				</div>
			</div>
	</main>
</div>
</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}