{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	<script>
	$(document).ready(function() {
		$('[data-toggle="datepicker"]').datepicker({autoHide: true, 'format': 'dd/mm/yyyy'});

		$(document).on('click','.period_button', function(){

			formatPeriod = $(this).data('period')

			changeFormatPeriod(formatPeriod)
		});

		// $('.period_button.day').click()

		$(document).on('click','.filterButton', function(){
			currInput = $('.currPeriod');
			currPeriod = $('.currPeriod').datepicker('getDate');

			prevInput = $('.prevPeriod');
			prevPeriod = $('.prevPeriod').datepicker('getDate');
			
			// verifica se a data final é maior que a inicial
			if((prevPeriod - currPeriod) > 0){
				$.alert({
					title: 'Ops!',
					content: 'A data final deve ser maior que a inicial',
				});
			}else{
				// verifia se ambos os campos estão preenchidos
				if((prevInput.val().length > 0 && currInput.val().length > 0)){
					$.alert({
						title: 'Ops!',
						content: 'Ambos os campos estão preenchidos',
					});
				}else{
					$.alert({
						title: 'Ops!',
						content: 'você deve inserir as duas datas',
					});
				}

			}

		});

		function changeFormatPeriod(format){
			console.log('ok')
			datepickerElement = $('[data-toggle="datepicker"]')

			datepickerElement.val(null)
			datepickerElement.datepicker("destroy")
			datepickerElement.datepicker({autoHide: true, 'format': format});
			
		}
	var empresas = {{empresas | raw}}
		Highcharts.chart('container2', {
	credits: {
      			enabled: false
  			},
    chart: {
        type: 'pie'
    },
    title: {
        text: 'As 5 empresas com mais aprendizes'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Aprendizes'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y} aprendizes</b>'
    },
    series: [{
        name: 'Aprendizes',
        data: empresas
    }]
});
	var qualidade_dados = {{qualidade_dados | raw}}
		Highcharts.chart('container3', {
	credits: {
      			enabled: false
  			},
    chart: {
        type: 'column'
    },
    title: {
        text: 'Preenchimento dos Dados'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: 'Porcentagem (%)'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y} %</b>'
    },
    series: [{
        name: 'Aprendizes',
        data: qualidade_dados
    }]
});
	
	var municipios = {{municipios | raw}}
		Highcharts.chart('container4', {
	credits: {
      			enabled: false
  			},
    chart: {
        type: 'column'
    },
    title: {
        text: 'Aprendizes por Municipios'
    },   
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Quantidade'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y}</b>'
    },
    series: [{
        name: 'Cidade',
        data: municipios
    }]
});
			
	var gaugeOptions = {
			credits: {
      			enabled: false
  			},
			chart: {
				type: 'solidgauge'
			},

			title: 'sd dos Aprendizes por Sexo',

			pane: {
				center: ['50%', '70%'],
				size: '80%',
				startAngle: -90,
				endAngle: 90,
				background: {
					backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
					innerRadius: '60%',
					outerRadius: '100%',
					shape: 'arc'
				}
			},

			tooltip: {
				enabled: false
			},
			// the value axis
			yAxis: {
				stops: [
			[0.1, '#55BF3B'], // green
			[0.5, '#DDDF0D'], // yellow
			[0.9, '#DF5353'] // red
			],
			lineWidth: 0,
			minorTickInterval: null,
			tickAmount: 2,
			title: {
				y: -110
			},
			labels: {
				y: 16
			}
			},

			plotOptions: {
				solidgauge: {
					dataLabels: {
						y: 5,
						borderWidth: 0,
						useHTML: true
					}
				}
			}
			};
		var estudantes = {{estudantes | raw}}
		// The speed gauge
		Highcharts.chart('container-speed', {
		    chart: {
		        type: 'line'
		    },
		    credits: {
      			enabled: false
  			},
		    title: {
		        text: 'Aprendizes por Mês'
		    },		   
		    xAxis: {
		    	categories: estudantes.meses
		    },
		    yAxis: {
		        title: {
		            text: 'Quantidade'
		        }
		    },
		    plotOptions: {
		        line: {
		            dataLabels: {
		                enabled: false
		            }
		        }
		    },
		    series: [{
		        name: 'ativos',
		        data: estudantes.ativos.map(Number)
		    }, {
		        name: 'inativos',
		        data: estudantes.inativos.map(Number)
		    }]
		});

		var empresas_alunos = {{empresas_alunos | raw}}
		console.log(empresas_alunos)
		Highcharts.chart('empresas_alunos', {
	credits: {
      			enabled: false
  			},
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'Relação entre Empresas Parceiras e Alunos'
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Estudantes Ativos'
        },        
        endOnTick: true,
        showLastLabel: true,
        tickInterval: 1,        
    },
    yAxis: {
        title: {
            text: 'Estudantes Inativos'
        },
        tickInterval: 1,
    },
  
    plotOptions: {    	
        scatter: {
            marker: {
                radius: 5,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x} Aluno(s) Ativo(s), {point.y} Aluno(s) Inativo'
            }
        }
    },
    series: empresas_alunos
});


});
</script>
{% endblock %}
{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}

<br>
		<div class="container">
				<div class="boxshadow">
			<div class="row">
					
					<div class="col-sm-6">
						<strong>Filtros</strong>
						<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">						
							<div class="btn-group" role="group" aria-label="First group">
								<button type="button" data-period="dd/mm/yyyy" class="btn btn-success period_button day padrao">Dia</button>
								<button type="button" data-period="mm/yyyy" class="btn btn-success period_button month padrao">Mês</button>
								<button type="button year" data-period="yyyy" class="btn btn-success period_button padrao">Ano</button>
							</div>
						</div>
						<br>
							<strong>Selecione um Período</strong>					
							<div class="">
								<input class="prevPeriod" placeholder="Início" style="margin:10px"data-toggle="datepicker">
								<input class="currPeriod" style="margin:10px" placeholder="Fim" data-toggle="datepicker">	
								<button type="button" style="margin:10px" class="btn btn-success filterButton padrao">Filtrar</button>
								<div style="margin:10px">
									<small>Período Selecionado:</small>
									<strong>Jan a Dez de 2019</strong>
								</div>
							</div>
					</div>	
					<div class="col-6">
						Instruções
						<br>
						Para selecionar um período basta selecionar o filtro desejado e utilizar os filtros, é possível filtrar por:
						<ul>
							<li>Dia</li>
							<li>Mes</li>
							<li>Ano</li>
						</ul>
					</div>				
				</div>		
			</div>
		<br>
			<hr>
			<div class="row">
				<div class="col-md">
					<div class="border boxshadow" id="container-speed" ></div>
				</div>
				<div class="col-md">
					<div class="border boxshadow" id="container2" ></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md">
					<div class="border boxshadow" id="container3" ></div>
				</div>
				<div class="col-md">
					<div class="border boxshadow" id="container4" ></div>
				</div>
			</div>
			<br>		
			<div class="row">
					<div class="col-12">
						<div class="border boxshadow" id="empresas_alunos" ></div>
					</div>
				</div>
			</div>
			<br>
</div>
</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}